<footer id="footer">
    <div class="container">
        <div id="footer-nav">
            <nav>
                <ul class="clearfix">
                    <li><a href="http://everything.me/?utm_source=geeksblog&amp;utm_medium=footer&amp;utm_campaign=footer" target="_blank">EverythingMe Homepage</a></li>
                    <li><a href="http://blog.everything.me/">Company Blog</a></li>
                    <li class="download"><a href="https://play.google.com/store/apps/details?id=me.everything.launcher&amp;referrer=utm_source%3Dgeeksblog%26utm_campaign%3Dfooter&amp;rdid=me.everything.launcher" class="regular">Get EverythingMe</a></li>
                </ul>
            </nav>
            <p>
                © All rights reserved to DoAT Media Ltd. 2011-2015. EverythingMe™ is a trademark of DoAT Media Ltd.
            </p>
        </div>
    </div>
</footer>
