<header id="header">
  <div class="header-wrap">
    <div class="header-wrapper clearfix">
      <div class="logo">
        <a href="/"><h1>geeks blog</h1></a>
        <a href="http://everything.me/?utm_source=geeksblog&amp;utm_medium=header&amp;utm_campaign=header" class="tagline" target="_blank">EverythingMe Homepage</a>
        <a href="http://blog.everything.me/" class="tagline">Company Blog</a>
        <a href="https://play.google.com/store/apps/details?id=me.everything.launcher&amp;referrer=utm_source%3Dgeeksblog%26utm_campaign%3Dheader&amp;rdid=me.everything.launcher" class="tagline medium">Get EverythingMe</a>
      </div>
      <ul class="social" style="margin-top: 70px;">
        <li class="facebook"><a href="https://www.facebook.com/everythingme"></a></li>
        <li class="twitter"><a href="http://twitter.com/everythingme"></a></li>
        <li class="googleplus"><a href="https://plus.google.com/115576456643201403563/posts"></a></li>
      </ul>
    </div>
  </div>
</header>
